<script type="text/javascript" charset="utf-8">
		var apiKey = "<%= @api_key %>";
	    var sessionId = "<%= @session.to_s %>";
	    var token = "<%= @session_token %>";	

	 // var apiKey = "22676642";
	    // var sessionId = "2_MX4yMjY3NjY0Mn4xMjcuMC4wLjF-TW9uIEphbiAyOCAxOTowMzo0OSBQU1QgMjAxM34wLjc3MjM5Mzd-";
	    // var token = "T1==cGFydG5lcl9pZD0yMjY3NjY0MiZzaWc9ZDRjYjQ2NTdhNmQyODcwOTY3OTU0ZjMyYTg0OTA1ZTA5MzhjN2M3Njpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTJfTVg0eU1qWTNOalkwTW40eE1qY3VNQzR3TGpGLVRXOXVJRXBoYmlBeU9DQXhPVG93TXpvME9TQlFVMVFnTWpBeE0zNHdMamMzTWpNNU16ZC0mY3JlYXRlX3RpbWU9MTM1OTQyODYyOSZub25jZT0wLjA5MTIzMDA1NDc3NTczMzI=";	
		
		var session;
		var publisher;
		var subscribers = {};
		var VIDEO_WIDTH = 320;
		var VIDEO_HEIGHT = 240;

		TB.addEventListener("exception", exceptionHandler);
		
		// Un-comment the following to set automatic logging:
		// TB.setLogLevel(TB.DEBUG);

		if (TB.checkSystemRequirements() != TB.HAS_REQUIREMENTS) {
			alert("You don't have the minimum requirements to run this application."
				  + "Please upgrade to the latest version of Flash.");
		} else {
			session = TB.initSession(sessionId);	// Initialize session

			// Add event listeners to the session
			session.addEventListener('sessionConnected', sessionConnectedHandler);
			session.addEventListener('sessionDisconnected', sessionDisconnectedHandler);
			session.addEventListener('connectionCreated', connectionCreatedHandler);
			session.addEventListener('connectionDestroyed', connectionDestroyedHandler);
			session.addEventListener('streamCreated', streamCreatedHandler);
			session.addEventListener('streamDestroyed', streamDestroyedHandler);
		}

		//--------------------------------------
		//  LINK CLICK HANDLERS
		//--------------------------------------

		/*
		If testing the app from the desktop, be sure to check the Flash Player Global Security setting
		to allow the page from communicating with SWF content loaded from the web. For more information,
		see http://www.tokbox.com/opentok/build/tutorials/helloworld.html#localTest
		*/
		function connect() {
			session.connect(apiKey, token);	

		}

		function disconnect() {
			session.disconnect();
			hide('disconnectLink');
			hide('publishLink');
			hide('unpublishLink');
		}

		// Called when user wants to start publishing to the session
		function startPublishing() {
			if (!publisher) {
				var parentDiv = document.getElementById("myCamera");
				var publisherDiv = document.createElement('div'); // Create a div for the publisher to replace
				publisherDiv.setAttribute('id', 'opentok_publisher');
				parentDiv.appendChild(publisherDiv);
				var publisherProps = {width: VIDEO_WIDTH, height: VIDEO_HEIGHT};
				publisher = TB.initPublisher(apiKey, publisherDiv.id, publisherProps);  // Pass the replacement div id and properties
				session.publish(publisher);
				show('unpublishLink');
				hide('publishLink');
			}
		}

		function stopPublishing() {
			if (publisher) {
				session.unpublish(publisher);
			}
			publisher = null;

			show('publishLink');
			hide('unpublishLink');
		}

		//--------------------------------------
		//  OPENTOK EVENT HANDLERS
		//--------------------------------------

		function sessionConnectedHandler(event) {
			// Subscribe to all streams currently in the Session
			for (var i = 0; i < event.streams.length; i++) {
				addStream(event.streams[i]);
			}
			show('disconnectLink');
			show('publishLink');
			hide('connectLink');
			show('session_id');
			show('joinStream');
		}

		function streamCreatedHandler(event) {
			// Subscribe to the newly created streams
			for (var i = 0; i < event.streams.length; i++) {
				addStream(event.streams[i]);
			}
		}

		function streamDestroyedHandler(event) {
			// This signals that a stream was destroyed. Any Subscribers will automatically be removed.
			// This default behaviour can be prevented using event.preventDefault()
		}

		function sessionDisconnectedHandler(event) {
			// This signals that the user was disconnected from the Session. Any subscribers and publishers
			// will automatically be removed. This default behaviour can be prevented using event.preventDefault()
			publisher = null;

			show('connectLink');
			hide('disconnectLink');
			hide('publishLink');
			hide('unpublishLink');
		}

		function connectionDestroyedHandler(event) {
			// This signals that connections were destroyed
		}

		function connectionCreatedHandler(event) {
			// This signals new connections have been created.
		}

		/*
		If you un-comment the call to TB.setLogLevel(), above, OpenTok automatically displays exception event messages.
		*/
		function exceptionHandler(event) {
			alert("Exception: " + event.code + "::" + event.message);
		}

		//--------------------------------------
		//  HELPER METHODS
		//--------------------------------------

		function addStream(stream) {
			// Check if this is the stream that I am publishing, and if so do not publish.
			if (stream.connection.connectionId == session.connection.connectionId) {
				return;
			}
			var subscriberDiv = document.createElement('div'); // Create a div for the subscriber to replace
			subscriberDiv.setAttribute('id', stream.streamId); // Give the replacement div the id of the stream as its id.
			document.getElementById("subscribers").appendChild(subscriberDiv);
			var subscriberProps = {width: VIDEO_WIDTH, height: VIDEO_HEIGHT};
			subscribers[stream.streamId] = session.subscribe(stream, subscriberDiv.id, subscriberProps);
		}

		function joinStream(){
			$("#connect_container").show();
		}

		function show(id) {
			document.getElementById(id).style.display = 'block';
		}

		function hide(id) {
			document.getElementById(id).style.display = 'none';
		}
	$(document).ready(function(){
		$(".join_chat").click(function(){
			if ($(".chat_id").val().length === 0){
				alert("Enter chat id");
			}else{
				window.location.href = "/vchat?stream=" + $(".chat_id").val();
			}
						return false;

		});
	});
        
</script>
<div class="container-narrow">

  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <h3 class="muted">V-Chat</h3>
  </div>

  <hr>

  <div class="jumbotron">
	<div class="v-chat">
		<div id="opentok_console"></div>
		<div id="links">
	       	<input class="btn btn-large btn-success" type="button" value="Connect to Vchat" id ="connectLink" onClick="javascript:connect()" /><br/><br/>
	       	<input class="btn btn-large btn-danger" type="button" value="Disconnect" id ="disconnectLink" onClick="javascript:disconnect()" /><br/><br/>
	        <input class="btn btn-large btn-success" type="button" value="Join a chat" id ="joinStream" onClick="javascript:joinStream()" /><br/><br/>
	       	<span id="connect_container"><label>Enter the chat id:</label><input type="text" class="chat_id"/><a class="join_chat" href=<%= "/vchat?stream=" + @s.id.to_s %> placeholder="Enter your friend's connection id">Go</a></span><br/>	       	
	       	<input class="btn btn-large btn-success" type="button" value="Start Publishing" id ="publishLink" onClick="javascript:startPublishing()" />
	       	<input class="btn btn-large btn-danger" type="button" value="Stop Publishing" id ="unpublishLink" onClick="javascript:stopPublishing()" /><br/>
	       	<p id="session_id">Your chat id is <%= @s.id %></p>
		</div>
		<div id="myCamera" class="publisherContainer"></div>
		<div id="subscribers"></div>
		<script type="text/javascript" charset="utf-8">
			show('connectLink');
		</script>
	</div>
  </div>
 
  <div class="clearfix"> </div>

  <hr>

	<div id="footer">
	  <div class="container">
	    <p class="muted credit">VCHAT - 2012</p>
	  </div>
	</div>
</div>
	